@{
	ViewBag.Title = "Home Page";
}

<div class="row">
	<h2>Please visit the github page of this platform for instructions on how to use it. 
	Share your Web browser screen with as many people as you want. 
	Real time and pixel perfect. What you see on your screen is what they will see.</h2>
</div>