@{
	ViewBag.Title = "Slave";
	Layout = null;
}

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Slave</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	<script src="https://kit.fontawesome.com/61a86bc3bd.js" crossorigin="anonymous"></script>
	<style>
		body, html {
			padding: 0;
		}

		#coverarea {
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			position: absolute;
			z-index: 2;
		}
	</style>
</head>

<body>
	@if (ViewBag.MasterGuid != null)
	{
		<div id="fullscreen">
			<iframe id="screenshare" ref="screenshare" class="fullScreen2"></iframe>
		</div>
		<div id="coverarea"></div>
		<i class="fas fa-mouse-pointer" id="cursor"></i>
	}
	else
	{
		<h1>No GUID sent</h1>
		<div>Please, check if your provided link is correct!</div>
	}

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	<script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
	<script src="~/signalr/hubs"></script>
	<script src="~/Scripts/src/screenshare_slave.js"></script>
</body>
</html>