
@{
	Layout = null;
}

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="George Dimov">
	<title>Screenshare Car Offer</title>

	<!-- Bootstrap core CSS -->
	<link href="http://localhost:1672/Content/boostrap-5.0.0/bootstrap.min.css" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="http://localhost:1672/Content/dashboard.css" rel="stylesheet">
</head>
<body>

	<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Company name</a>
		<button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
		<ul class="navbar-nav px-3">
			<li class="nav-item text-nowrap">
				<a class="nav-link" href="#">Sign out</a>
			</li>
		</ul>
	</header>

	<div class="container-fluid">
		<div class="row">
			<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
				<div class="position-sticky pt-3">
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="#">
								<span data-feather="home"></span>
								Dashboard
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<span data-feather="shopping-cart"></span>
								Products
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="#">
								<span data-feather="users"></span>
								Customer Offer
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<span data-feather="bar-chart-2"></span>
								Reports
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<span data-feather="layers"></span>
								Documents
							</a>
						</li>
					</ul>

					<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
						<span>Saved reports</span>
						<a class="link-secondary" href="#" aria-label="Add a new report">
							<span data-feather="plus-circle"></span>
						</a>
					</h6>
					<ul class="nav flex-column mb-2">
						<li class="nav-item">
							<a class="nav-link" href="#">
								<span data-feather="file-text"></span>
								Current month
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<span data-feather="file-text"></span>
								Last quarter
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<span data-feather="file-text"></span>
								Social engagement
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<span data-feather="file-text"></span>
								Year-end sale
							</a>
						</li>
					</ul>

					<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
						<span>Share screen data:</span>
						<a class="link-secondary" href="#" aria-label="Add a new report">
							<span data-feather="plus-circle"></span>
						</a>
					</h6>
					<ul class="nav flex-column mb-2">
						<li class="nav-item" id="connect">
							<a class="nav-link" href="#">
								<span data-feather="monitor"></span>
								Start sharing
							</a>
						</li>
						<li class="nav-item">
							<span class="nav-link" id="slaveData"></span>
						</li>
					</ul>
				</div>
			</nav>

			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
				<h1 style="padding-top: 20px;">Kia Stonic <span class="badge bg-secondary">New</span></h1>

				<div class="card">
					<div class="card-body text-center">
						<h2>“A good looking car, but as hamstrung as its rivals for boot size ”</h2>
					</div>
				</div>

				<div class="container">
					<div class="row">
						<div class="col">
							<h3>WHAT IS IT?</h3>
							Carmakers do love to make up a weird name, but what even is a Stonic? It sounds like something you’d drink on a long train journey, but Kia says the name is a cheesy mashup of speedy and tonic. We’re not really sure what it’s all supposed to mean, but then Volkswagen managed to splice tiger and iguana when it came to the Tiguan badge and no one’s too bothered about that.
						</div>
						<div class="col">
							<h3>OK, WHAT IS IT REALLY?</h3>
							The car itself is something of a mashup too, a crossover that mixes elements of SUV and hatchback in a compact footprint. It’s a tough area of the market to compete in, simply because there’s so much to choose from. It’s also a tough class to assess, with cars costing more than the superminis they’re inevitably based on and not offering advances in practicality. You’d assume that something that looks taller and bigger would have a lot more space for passengers and a bigger boot, but it’s not always the case.
						</div>
					</div>
				</div>

				<div class="container">
					<div class="row">
						<div class="col">
							<img src="https://i.imgur.com/4OuPpAT.jpg" alt="main image of KIA" class="img-fluid" />

						</div>
						<div class="col">
							<img src="https://i.imgur.com/rLKgRtv.jpg" alt="main image of KIA" class="img-fluid" />
						</div>
					</div>
				</div>

				<p>The Stonic’s arrival in 2017 meant that Kia now offers the full suite of SUVs, from the smaller Stonic through the medium-size Sportage and electric Niro efforts to the larger Sorento. There’s even the jumbo-sized Telluride, but Kia doesn’t sell that in Europe because it wouldn’t really fit – that one is strictly for the likes of the US market. The expanded range and increasing spread of electrified options shows Kia’s intent to strengthen its foothold in the UK.</p>

				<p>Of course, the first priority is to be profitable, so it wouldn’t be a criticism of the Stonic to say that it was a Kia Rio on stilts. The Stonic gets its platform and engine options from the supermini, which is good, because the Rio is one of the better options in the Korean carmaker’s line-up. </p>




				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
					<label class="form-check-label" for="flexCheckDefault">
						Default checkbox
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
					<label class="form-check-label" for="flexCheckChecked">
						Checked checkbox
					</label>
				</div>

				<h3>IT CERTAINLY... STANDS OUT</h3>
				<p>The Stonic’s hip design is a largely successful effort, albeit dependent on colour choice and spec. The entry-level car doesn’t get the black contrasting roof of more expensive models that disguises some of the car’s SUV bulk, and as with most modern designs the car looks progressively better the larger the wheel. That doesn’t necessarily tally with ride comfort of course. </p>
				<p>And the Stonic needs to stand out, because it’s theoretically up against the likes of the Ford Puma, Renault Captur, Nissan Juke, Toyota CH-R, Skoda Kamiq, Fiat 500X… the list goes on and on. What can the small Kia bring to the table that none of these others cars do? Well, there is always the company’s famous seven-year warranty to fall back on if all else fails. </p>

				<div class="form-check">
					<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
					<label class="form-check-label" for="flexRadioDefault1">
						Default radio
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
					<label class="form-check-label" for="flexRadioDefault2">
						Default checked radio
					</label>
				</div>

				<h3>WHAT IS THE VERDICT?</h3>
				<div class="card">
					<div class="card-body text-center">
						<h4>“Meets the brief, but simultaneously fails to justify its existence”</h4>
					</div>
				</div>

				<p>The Stonic is a reasonably likeable car, with solid, uncontroversial styling on the outside and a decent interior that’s been designed to a budget. Does it do enough to stand out in a packed segment? Probably not, but then again its rarity might stand in its favour, with rivals becoming slightly dull through their ubiquity on the road.</p>
				<p>We’d happily recommend the Stonic as an inoffensive companion, but at the same time perhaps question some of the fundamentals. You’ve got a styling-led car that offers no real improvement on the hatchback it’s based on, while a little extra cash could get you something from elsewhere in the Kia range that would meet your needs marvellously well. It’s not that we’re against SUVs per se, we understand the appeal, we just don’t know what this one is actually for. </p>

				<div class="form-check form-switch">
					<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
					<label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
				</div>
				<div class="form-check form-switch">
					<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
					<label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label>
				</div>


				<h3>
					Engines, performance and drive
				</h3>
				<p>
					Kia engineers have re-tuned the Kia Rio’s rather average MacPherson strut front and torsion-beam rear axle suspension set-up to handle the Stonic’s higher centre of gravity. In doing so, they’ve also created a car that feels more agile, is relatively roll-free and handles in a composed and tidy fashion. The steering is light, if lacking in feel, and the gearchange is light and slick.

					While the Stonic has enough grip, it never quite feels settled on the move. The suspension fidgets around, and the damping over aggressive bumps is not as smooth as some rivals. The Kia isn’t as comfortable or as relaxing on the motorway as some of its competitors either.
				</p>
				<select class="form-select" multiple aria-label="multiple select example">
					<option selected>G4B 5.9 L</option>
					<option value="1">H- 10 L</option>
					<option value="2">Powertech 12 L</option>
					<option value="3">KK/KK- 6.6 L</option>
				</select>

				<h3>
					Practicality, comfort and boot space
				</h3>
				<p>
					We’ve already discussed the shortcomings in the Stonic’s ride quality, which will particularly affect drivers using urban and minor roads. Another area where the Stonic may fail to meet the desires of its potential owners is the seat height. Lots of buyers look to SUV-type vehicles for the reassuring and commanding driving position, yet the seats in the Stonic are set relatively low compared to most of its rivals. That said, if you after a sportier driving position, this car could fit the bill.

					There are lots of practical touches when it comes to cabin storage though. You get big door pockets up front, a pair of cup-holders and a seven-litre glovebox, as well as useful storage built into the central armrest and console. There are cup-holders for the kids’ water bottles in the back, a rear USB charging point and shopping hooks in the boot, too.
					Size
					Although it shares the Kia Rio’s platform, the Stonic is a little bigger all round thanks to bigger overhangs and wider track. The wheelbase is standard Rio though, and there’s only the one five-door body-style.
				</p>

				<label for="customRange1" class="form-label">Example range</label>
				<input type="range" class="form-range" id="customRange1">

				<p>
					Independent crash tester Euro NCAP hasn't actually tested the Stonic, but it's given it a score based on the mechanically identical Rio supermini. And it has awarded the Stonic two different star ratings, because not all of Kia's safety kit is fitted as standard.

					The basic model has a three-star score, but adding the Safety Pack boosts this to five stars. Essentially, the Stonic 2 has a three-star rating because Autonomous Emergency Braking, Lane Departure Warning and auto high beam are offered optionally as part of the Safety Pack, while the First Edition has this as standard. However, we think you can be pretty confident the Stonic will perform in similarly impressive fashion from a passive safety/structural perspective. Six airbags, ISOFIX rear seat mountings, stability control and hill-start assistance are fitted as standard.
				</p>

				<div class="container">
					<div class="row">
						<div class="col">
							<img src="https://i.imgur.com/NOSr25F.jpg" alt="main image of KIA" class="img-fluid" />

						</div>
						<div class="col">
							<img src="https://i.imgur.com/AMHU4lP.jpg" alt="main image of KIA" class="img-fluid" />
						</div>
					</div>
				</div>

				<h3>
					Client details
				</h3>
				<div class="input-group mb-3">
					<span class="input-group-text" id="basic-addon1"></span>
					<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
				</div>

				<div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
					<span class="input-group-text" id="basic-addon2"></span>
				</div>

				<label for="basic-url" class="form-label">Your vanity URL</label>
				<div class="input-group mb-3">
					<span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
					<input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
				</div>

				<div class="input-group mb-3">
					<span class="input-group-text">$</span>
					<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
					<span class="input-group-text">.00</span>
				</div>

				<div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="Username" aria-label="Username">
					<span class="input-group-text"></span>
					<input type="text" class="form-control" placeholder="Server" aria-label="Server">
				</div>

				<div class="input-group">
					<span class="input-group-text">With textarea</span>
					<textarea class="form-control" aria-label="With textarea"></textarea>
				</div>

				<p>
					The Kia Stonic is based on the Rio hatch and while visually there are many similarities the little SUV has its own look with its sculptured bonnet, taller stance, the rising window line, roof racks, moulded plastic wheel arches, and a chunky rear bumper and among other rugged features.

					The GT-Line comes standard with an angry-looking body kit, which includes a skid plate and fog lights, a chrome-look grille insert, striking LED headlights and a rear bumper with what look to be integrated exhaust tips, but actually aren’t. The S and Sport grades have a more domesticated and tame appearance.
				</p>
				<p>
					Nam pharetra, elit sit amet vehicula vestibulum, ante arcu vestibulum erat, at dapibus nunc tortor vel leo. Aliquam ultricies purus at volutpat interdum. Morbi eget nisl libero. Pellentesque sit amet augue ornare, dignissim erat ac, molestie neque. Nunc vitae ligula id mi vehicula viverra. Suspendisse ultricies ex imperdiet lobortis consectetur. Curabitur porta dolor at blandit condimentum. Phasellus molestie sagittis lacus, nec aliquet ex laoreet eget. Phasellus vel nisi a leo bibendum pharetra. Etiam porttitor lorem at pellentesque ullamcorper. Donec laoreet augue id erat consectetur, a semper risus pharetra. Pellentesque a accumsan eros, at auctor elit. Phasellus ultricies id lorem et imperdiet.
				</p>
				<p>
					Nulla facilisi. Morbi vel fermentum erat. Ut malesuada justo eget iaculis accumsan. In semper ligula ut nisl aliquet elementum. Sed ac lorem ac libero vestibulum porta. Nulla facilisi. Pellentesque aliquam felis sed urna finibus pharetra. Sed eu porttitor tellus. Quisque blandit ex sed volutpat porttitor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce pretium ipsum id metus convallis, nec sagittis velit malesuada.

					Pellentesque commodo ipsum quis dictum porttitor. Sed rhoncus tortor mi, eget tempor lorem vulputate non. Morbi eu consectetur nulla. Vivamus ut metus ut nisl consequat facilisis. Maecenas egestas mauris felis, ut malesuada leo consectetur blandit. Phasellus bibendum maximus pellentesque. Maecenas finibus lectus odio, ut tempor risus vestibulum ac.

				</p>

				<div class="text-center">
					<button type="button" class="btn btn-primary btn-lg">Confirm Purchase</button>
					<button type="button" class="btn btn-secondary btn-lg">Cancel Purchase</button>
				</div>
			</main>
		</div>
	</div>

	<footer class="bg-light text-center text-lg-start" style="margin-top: 30px;">
		<!-- Copyright -->
		<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
			© 2021 Copyright: George Dimov
		</div>
		<!-- Copyright -->
	</footer>

	<script src="~/Scripts/boostrap-5.0.0/bootstrap.bundle.min.js"></script>
	<script src="~/Scripts/feather.min.js"></script>
	<script src="~/Scripts/boostrap-5.0.0/dashboard.js"></script>
	@Scripts.Render("~/bundles/jquery")

	<script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
	<script src="https://localhost:44383/signalr/hubs"></script>

	<!-- Main Master JavaScript code for screensharing --->
	<script src="/Scripts/src/screenshare_master.js"></script>
</body>
</html>