
@{
	Layout = null;
}

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="George Dimov">
	<title>Screenshare Car Offer</title>

	<!-- Bootstrap core CSS -->
	<link href="http://localhost:1672/Content/boostrap-5.0.0/bootstrap.min.css" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="http://localhost:1672/Content/dashboard.css" rel="stylesheet">
</head>
<body>

	<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Company name</a>
		<button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
		<ul class="navbar-nav px-3">
			<li class="nav-item text-nowrap">
				<a class="nav-link" href="#">Sign out</a>
			</li>
		</ul>
	</header>

	<div class="container-fluid">
		<div class="row">
			<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
				<div class="position-sticky pt-3">
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="#">
								<span data-feather="home"></span>
								Dashboard
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<span data-feather="shopping-cart"></span>
								Products
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="#">
								<span data-feather="users"></span>
								Customer Offer
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<span data-feather="bar-chart-2"></span>
								Reports
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<span data-feather="layers"></span>
								Documents
							</a>
						</li>
					</ul>

					<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
						<span>Saved reports</span>
						<a class="link-secondary" href="#" aria-label="Add a new report">
							<span data-feather="plus-circle"></span>
						</a>
					</h6>
					<ul class="nav flex-column mb-2">
						<li class="nav-item">
							<a class="nav-link" href="#">
								<span data-feather="file-text"></span>
								Current month
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<span data-feather="file-text"></span>
								Last quarter
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<span data-feather="file-text"></span>
								Social engagement
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<span data-feather="file-text"></span>
								Year-end sale
							</a>
						</li>
					</ul>

					<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
						<span>Share screen data:</span>
						<a class="link-secondary" href="#" aria-label="Add a new report">
							<span data-feather="plus-circle"></span>
						</a>
					</h6>
					<ul class="nav flex-column mb-2">
						<li class="nav-item" id="connect">
							<a class="nav-link" href="#">
								<span data-feather="monitor"></span>
								Start sharing
							</a>
						</li>
						<li class="nav-item">
							<span class="nav-link" id="slaveData"></span>
						</li>
					</ul>
				</div>
			</nav>

			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
				<!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"> -->
				<!-- <h1 class="h2">Dashboard</h1> -->
				<!-- <div class="btn-toolbar mb-2 mb-md-0"> -->
				<!-- <div class="btn-group me-2"> -->
				<!-- <button type="button" class="btn btn-sm btn-outline-secondary">Share</button> -->
				<!-- <button type="button" class="btn btn-sm btn-outline-secondary">Export</button> -->
				<!-- </div> -->
				<!-- <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle"> -->
				<!-- <span data-feather="calendar"></span> -->
				<!-- This week -->
				<!-- </button> -->
				<!-- </div> -->
				<!-- </div> -->

			</main>
		</div>
	</div>

	<script src="~/Scripts/boostrap-5.0.0/bootstrap.bundle.min.js"></script>
	<script src="~/Scripts/feather.min.js"></script>
	<script src="~/Scripts/boostrap-5.0.0/dashboard.js"></script>
	@Scripts.Render("~/bundles/jquery")

	<script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
	<script src="https://localhost:44383/signalr/hubs"></script>
	@*<script src="~/Scripts/src/screenshare_main.js"></script>*@
	<script type="text/javascript">
		$(function () {
			window.baseUrl = 'https://localhost:44383';
			window.areEventsAttached = false;

			// Create master and send body to server
			$('#connect').click(onClickedConnect);
		});

		function onClickedConnect() {
			let screenshot = document.documentElement;
			serializeInputs(screenshot);
			serializeScrollable(screenshot);
			let body = screenshot.children[1].innerHTML;

			var headContent = document.getElementsByTagName('head')[0];
			//serializeInputs(headContent);
			let head = headContent.innerHTML;

			let height = $(window).height();
			let width = $(window).width();

			if (sessionStorage.getItem('masterGuid') == null) {
				$.ajax({
					type: 'POST',
					url: window.baseUrl + '/api/Screencast/RequestConnection',
					dataType: 'json',
					data: {
						'Body': body,
						'Head': head,
						'Width': width,
						'Height': height
					},
					success: onMasterGuidGenerated
				});
			}
		}

		function onMasterGuidGenerated(apiResponse) {
			sessionStorage.setItem('masterGuid', apiResponse.GUID);
			$('#slaveData').text(`${apiResponse.URL}`);
			let masterGuid = apiResponse.GUID;

			$.connection.hub.url = window.baseUrl + '/signalr';
			let screencasting = $.connection.screencastingHub;

			$.connection.hub.qs = 'uuid=' + masterGuid + '&master=true';
			$.connection.hub.logging = true;
			/*	screencasting.client.generatedUrlFromServer = generatedUrlFromServer;*/

			if ($.connection.hub && $.connection.hub.state === $.signalR.connectionState.disconnected) {
				$.connection.hub.start().done(function () {
					console.log('---Connected to signalR server via WebSockets');
					/*			screencasting.server.generateUrl(masterGuid, window.baseUrl);*/
				});
			}

			//function generatedUrlFromServer(url) {
			//	$('#slaveData').text(`Sharing data for ${url}`);
			//}
		}

		function serializeInputs(ele) {
			var _self = this;

			if (!ele || !ele.nodeName) {
				return;
			}

			switch (ele.nodeName) {
				default:
					if (ele.children) {
						for (var a in ele.children) {
							serializeInputs(ele.children[a])
						}
					}
					break;
				case 'SCRIPT':
					ele.parentNode.removeChild(ele);
					break;
				case 'INPUT':
					switch (ele.type) {
						default:
							ele.setAttribute('value', ele.value);
							break;
						case 'checkbox':
						case 'radio':
							if (ele.checked) {
								ele.setAttribute('checked', 'checked');
							}
							else {
								ele.removeAttribute('checked');
							}
							break;
						case 'file':
							break;
						case 'password':
							//Do not send password values...
							// ele.setAttribute('value', ele.value);
							break;
					}
					break;
				case 'TEXTAREA':
					ele.innerText = ele.value;
					break;
				case 'SELECT':
					switch (ele.type) {
						case 'select-one':
							for (var i = ele.options.length - 1; i >= 0; i--) {
								if (ele.options[i].selected) {
									ele.options[i].setAttribute('selected', 'selected');
								}
								else {
									ele.options[i].removeAttribute('selected');
								}
							}
							break;
						case 'select-multiple':
							for (i = ele.options.length - 1; i >= 0; i--) {
								if (ele.options[i].selected) {
									ele.options[i].setAttribute('selected', 'selected');
								}
								else {
									ele.options[i].removeAttribute('selected');
								}
							}
							break;
					}
					break;
			}
		}

		function serializeScrollable(ele) {
			var _self = this;
			if (!ele || !ele.nodeName) {
				return;
			}
			if (ele.scrollTop || ele.scrollLeft || ele.getAttribute('data-scroll')) {
				ele.setAttribute('data-scroll', `${~~(ele.scrollTop)},${~~(ele.scrollLeft)}`);
			}
			if (ele.children) {
				for (var a in ele.children) {
					serializeScrollable(ele.children[a])
				}
			}
		}
	</script>
</body>
</html>