@{
    ViewBag.Title = "Home Page";
}

<h2>There are custom clients that can be used to share screen (Master):</h2>
<div>
	<ul>
		<li><h3><a href="/Client/Index">The new KIA Stonic - Car offer client</a></h3></li>
		<li><h3>Example client - House offer client</h3></li>
		<li><h3>Example client - Wedding offer client</h3></li>
	</ul>
</div>